.footer {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__body {
  display: flex;
  justify-content: space-between;

  text-align: center;
  font-weight: bold;

  padding: 20px 0;
}
.footer__btn {
  background-color: #1677ff;
  color: white;

  border-radius: 6px;
  border: none;

  text-transform: capitalize;
  padding: 7px 15px;

  transition: 0.4s;
  &:hover {
    background-color: #4096ff;
  }
  &:active {
    background-color: #0958d9;
  }
}
